html body{
    /* background-color: rgba(200, 161, 211, 0.784); */
    /* background-color: rgba(168, 150, 131, 0.784); */
    background-color: rgba(5, 4, 4, 0.912);
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="1.75" stroke-linejoin="round" d="M12 8S9.75 5 7 5a4.5 4.5 0 0 0-4.5 4.5C2.5 14.5 12 20 12 20s9.5-5.5 9.5-10.5A4.5 4.5 0 0 0 17 5c-2.75 0-5 3-5 3Z" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" style="--darkreader-inline-fill: %23181a1b; --darkreader-inline-stroke: %23e8e6e3;"></path></svg>'), auto;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    
}

   .navbar{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 10px 25px rgba(193, 193, 193, 0.312);
    width: 100%; /* Ensure navbar does not exceed viewport width */
    
}
.navbar-brand{
        
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bleh1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.bleh{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow-x: hidden;
    padding-left: 20px;
    /* height: 40vh; */
    /* Ensures that the image maintains its aspect ratio */
}
h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
    overflow-x: hidden;
}
.han1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%; /* Ensure container does not exceed viewport width */
}
.container {
    max-width: 100%; /* Make sure containers don't exceed viewport width */
}
.phool1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%; /* Ensure container does not exceed viewport width */
}
.phool{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow-x: hidden;
    padding-bottom: 20vh;
    /* height: 40vh; */
    /* Ensures that the image maintains its aspect ratio */
}
.first{
    font-family: "Itim", cursive;
    /* font-weight: 400; */
    font-style: normal;
    
    color: white;
    text-align: center;
    margin-top: 3rem;
    overflow-x: hidden;
    font-size: xx-large;
    width: 100%;
}
/* .pp{
    transition: font-size 0.5s;
}
.pp:hover{
    font-size: 3rem;
} */
.haye1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%; /* Ensure container does not exceed viewport width */
}
.haye{
    height: 40vh;
    overflow-x: hidden;
    width: 100%;
}
.dakishimi{
    height: 40vh;
    padding-left: 4rem;
    margin-top: 20px;
    overflow-x: hidden;
    width: 100%;
}
.head{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 5rem;
    overflow-x: hidden;
}
.hug{
    overflow-x: hidden;
    width: 100%;
    padding-left: 60px;
    height: 40vh;
}
.heart1{
    overflow-x: hidden;
    height: 30vh;
    margin-top: 60px;
    margin-bottom: 60px;
}
.perfect{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.pls{
    height: 40vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.chats{
    overflow-x: hidden;
    height: 75vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.hearthand{
    overflow-x: hidden;
    height: 80vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.ritual{
    overflow-x: hidden;
    height: 32vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 4px;
    
}
.hug1{
    overflow-x: hidden;
    height: 44vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.yes{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
    overflow-x: hidden;
    width: 100%;
}
.vid1{
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow-x: hidden;
    width: 100%;
}
.lol{
    overflow-x: hidden;
    height: 39vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
.heartarr{
    padding-bottom:  10rem;
    height: 30vh;
}
.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
}
@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.autoBLur{
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBLurAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}