html body{
    /* background-color: rgba(200, 161, 211, 0.784); */
    /* background-color: rgba(168, 150, 131, 0.784); */
    background-color: rgb(237, 186, 145);
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="1.75" stroke-linejoin="round" d="M12 8S9.75 5 7 5a4.5 4.5 0 0 0-4.5 4.5C2.5 14.5 12 20 12 20s9.5-5.5 9.5-10.5A4.5 4.5 0 0 0 17 5c-2.75 0-5 3-5 3Z" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" style="--darkreader-inline-fill: %23181a1b; --darkreader-inline-stroke: %23e8e6e3;"></path></svg>'), auto;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
   }
.navbar{
    background-color: rgb(255, 241, 163) !important;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    
}
.navbar-brand{
        
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heartcall{
    padding-bottom: 3px;
    padding-right: 4px;
    height: 1.8rem;
}
section.birthday{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
img.dogocat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin-top: 2rem;
    margin-left: 2rem;
    float: left;
}

.wish{
    font-family: "Pacifico", cursive;
    margin-top: 3rem;
    font-size: xx-large;
    padding-top: 3rem;
}
/* .msg{
    margin-left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.msg {
    margin-left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1; /* Allow the text to fill the remaining space */
}
.smily {
    text-align: center; /* Center the container */
    margin-top: 2rem;
}
.smilyr{
    height: 8rem;
    margin-top: 4rem;
}
.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
}
@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.para1{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.para2{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
}
.gradient-background {
    /* margin-top: 50px; */
    
    background: linear-gradient(-250deg, #f3be90, #ed5050, #f6de5a, #78c7ce, rgb(108, 108, 46));
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    margin-top: 0rem;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.nextpage{
    color: black !important;
    border: none;
    background: none !important;
    border-radius: 15px;
}
.nextpage:hover{
    cursor: pointer;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}